#graph-parameter-panel-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    overflow: hidden;
}

#parameter-panel {
    background-color: var(--panel-color);
    color: var(--border-color);
    border-radius: 0px 10px 0px 0;
}

.parameter-panel-title {
    text-align: center;
    width: 100%;
    text-decoration: underline;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-sliders {
    display: none;
}

.slider {
    display: flex;
    flex-direction: row-reverse;
    stop-color: var(--graph-color);
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.slider-name {
    text-align: center;
    flex-grow: 1;
}

.slider-slider {
    margin-left: 1rem;
    margin-right: 1rem;
}

#parameter-panel-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    fill: var(--border-color);
    margin: 5px;
    cursor: pointer;
}