#graph-options-bar-container {
    position: absolute;
    margin: auto 0 auto 0;
    top: 0;
    bottom: 0;
    height: 25%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#graph-options-bar {
    width: 0;
    height: 100%;
    background-color: var(--panel-color);
    border-radius: 0px 10px 10px 0;
}

#options-arrow {
    margin-left: 1rem;
    z-index: 10;
}

#option-author {
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 25% auto 0 auto;
    fill: var(--graph-color)
}

.option-selected {
    fill: var(--border-color) !important;
}