@import "./graphTooltip.css";
@import "./graphSearchBar.css";
@import "./graphOptionsBar.css";

#graph-container {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

#graph-svg {
    background-color: var(--graph-color);
    z-index: 1;
}

.link {
    stroke-opacity: 0.6;
}
  
.link.true {
    stroke: var(--true-color);
}

.link.false {
    stroke: var(--false-color);
}

.link.reference {
    stroke: var(--reference-color);
}

.link.author {
    stroke: var(--author-color);
}

.node {
    stroke: var(--border-color);
    stroke-width: 1px;
    cursor: pointer;
}

.node.claim {
    fill: var(--claim-color);
}

.node.document {
    fill: var(--document-color);
}

.node.evidence {
    fill: var(--evidence-color);
}

.node.author {
    fill: var(--author-color);
}

.node-selected {
    stroke: var(--selected-color);
}

.unselected {
    stroke-opacity: 0.2;
    opacity: 0.2;
}

.arrow {
    height: 24px;
    fill: var(--border-color);
    cursor: pointer;
    display: block;
    margin: auto;
}

.down {
    transform: rotate(180deg);
}

.right {
    transform: rotate(90deg);
}

.left {
    transform: rotate(270deg);
}