#graph-search-bar-container {
    position: absolute;
    top: 1rem;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    width: 30%;
}

#graph-search-bar {
    border-radius: 5px;
    background-color: var(--panel-color);
    height: 0;
}

#search-bar {
    width: 100%;
    border: 0;
    outline: 0;
    color: var(--border-color);
    background: transparent;
    height: 100%;
}

#search-bar:focus>option:checked {
    background: var(--graph-color);
    color: var(--border-color);
}

#search-bar:focus>option {
    background: var(--panel-color);
    color: var(--border-color);
}