#graph-tooltip-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#graph-tooltip-container .question-mark {
    position: absolute;
    height: 24px;
    fill: var(--border-color);
    z-index: 10;
    cursor: pointer;
}

#graph-tooltip {
    position: absolute;
    left: 0px;
    top: 2em;
    opacity: 0;
    background-color: var(--panel-color);
    border-radius: 5px;
    pointer-events: none;
}

.tooltip.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid var(--border-color);
}

.tooltip.circle.claim {
    background: var(--claim-color);
}

.tooltip.circle.document {
    background: var(--document-color);
}

.tooltip.circle.evidence {
    background: var(--evidence-color);
}

.tooltip.circle.author {
    background: var(--author-color);
}

.tooltip.sentence {
    display: flex;
    margin: 5px;
    width: 125px;
    height: 26px;
}

.tooltip.text {
    margin: auto;
    margin-left: 10px;
    color: var(--border-color);
}

.tooltip.line {
    width: 26px;
    height: 2px;
    margin: auto 0px auto 0px;
    background-color: blueviolet;
}

.tooltip.line.true {
    background-color: var(--true-color);
}

.tooltip.line.false {
    background-color: var(--false-color);
}

.tooltip.line.reference {
    background-color: var(--reference-color);
}