@import "./graph.css";
@import "./panel.css";

:root {
    --claim-color: #fe6d73;
    --document-color: #ffcb77;
    --evidence-color: #227c9d;
    --author-color: #a03e67;
    --selected-color: #ff2626;
    --false-color: #b81809;
    --true-color: #09bd1b;
    --reference-color: #e6d00d;
    --panel-color: #363852;
    --graph-color: #22223b;
    --border-color: #dfd8d4;
}

html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background-color: var(--graph-color);
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--border-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--graph-color);
}