#card-container {
    width: 0%;
    background-color: var(--panel-color);
    flex-grow: 1;
    overflow-y: auto;
}

.card {
    margin: 0.5em;
    padding: 1% 6% 1% 1%;
    box-shadow: 5px 5px 2px #2a2c41;
    border: 3px solid var(--border-color);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card.claim {
    background: linear-gradient(to right, white 95%, var(--claim-color) 0%);
}

.card.document {
    background: linear-gradient(to right, white 95%, var(--document-color) 0%);
}

.card.evidence {
    background: linear-gradient(to right, white 95%, var(--evidence-color) 0%);
}

.card.author {
    background: linear-gradient(to right, white 95%, var(--author-color) 0%);
}

.card-selected {
    border: 3px solid var(--selected-color);
}

.card>.metadata {
    margin-top: 1rem;
    color: #707070;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-link, .card-authors, .card-journal, .card-date, .card-score {
    margin-top: 0.5rem;
}

.card-link>a:link, .card-link>a:visited {
    color: var(--graph-color);
}

.card-score {
    position: relative;
    bottom: 0;
    border-radius: 3px;
    padding: 3px;
    color: white;
    text-align: center;
}

.card.true>.metadata>.card-score {
    background-color: var(--true-color);
}

.card.false>.metadata>.card-score {
    background-color: var(--false-color);
}

.card.evidence>.metadata>.card-score {
    background-color: var(--evidence-color);
}

.card.evidence.true>.metadata>.card-score {
    background-color: var(--true-color) !important;
}

.card.evidence.false>.metadata>.card-score {
    background-color: var(--false-color) !important;
}

#card-container hr {
    border: none;
    border-top: 1px solid var(--graph-color);
    color: var(--graph-color);
    background-color: var(--graph-color);
    height: 1px;
    width: 95%;
}

#graph-panel-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
}

#card-panel-arrow {
    margin-right: 1rem;
}