.link {
    stroke-opacity: 0.6;
}
  
.node {
    stroke: #fff;
    stroke-width: 1px;
}

html, body, #graph-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

#viz-svg {
    background-color: black;
}

.unselected {
    stroke-opacity: 0.2;
    opacity: 0.2;
}