<div class="tooltip sentence">
    <div class="tooltip circle claim"></div>
    <div class="tooltip text"> claim </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip circle document"></div>
    <div class="tooltip text"> document </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip circle evidence"></div>
    <div class="tooltip text"> rationale </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip line true"></div>
    <div class="tooltip text"> true </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip line false"></div>
    <div class="tooltip text"> false </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip line reference"></div>
    <div class="tooltip text"> reference </div>
</div>