<div class="tooltip sentence">
    <div class="tooltip circle claim"></div>
    <div class="tooltip text"> Claim </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip circle document"></div>
    <div class="tooltip text"> Document </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip circle evidence"></div>
    <div class="tooltip text"> Rationale </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip circle author"></div>
    <div class="tooltip text"> Author </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip line true"></div>
    <div class="tooltip text"> True </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip line false"></div>
    <div class="tooltip text"> False </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip line evidence"></div>
    <div class="tooltip text"> Rationale </div>
</div>
<div class="tooltip sentence">
    <div class="tooltip line reference"></div>
    <div class="tooltip text"> Reference </div>
</div>